.idItem3{
  body {margin-top: 0px;margin-left: 0px;}

  #page_1 {position:relative; overflow: hidden;margin: 76px 0px 316px 76px;padding: 0px;border: none;width: 32px;}

  .ft0{font: 16px 'Trebuchet MS';line-height: 22px;}
  .ft1{font: bold 16px 'Trebuchet MS';color: #ffffff;line-height: 22px;}
  .ft2{font: bold 15px 'Trebuchet MS';color: #ffffff;line-height: 20px;}
  .ft3{font: 1px 'Trebuchet MS';line-height: 1px;}
  .ft4{font: bold 12px 'Trebuchet MS';line-height: 18px;}
  .ft5{font: 12px 'Trebuchet MS';line-height: 17px;}
  .ft6{font: 12px 'Trebuchet MS';line-height: 18px;}
  .ft7{font: bold 12px 'Trebuchet MS';line-height: 17px;}
  .ft8{font: 1px 'Trebuchet MS';line-height: 14px;}
  .ft9{font: 12px 'Trebuchet MS';line-height: 14px;}
  .ft10{font: 1px 'Trebuchet MS';line-height: 16px;}
  .ft11{font: 11px 'Trebuchet MS';line-height: 16px;}
  .ft12{font: bold 12px 'Trebuchet MS';line-height: 14px;}
  .ft13{font: 11px 'Trebuchet MS';line-height: 14px;}
  .ft14{font: bold 12px 'Trebuchet MS';line-height: 16px;}
  .ft15{font: 12px 'Trebuchet MS';line-height: 16px;}
  .ft16{font: 1px 'Trebuchet MS';line-height: 2px;}

  .p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
  .p1{text-align: left;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
  .p2{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
  .p3{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
  .p4{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
  .p5{text-align: right;padding-right: 100px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

  .td0{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
  .td1{border-right: #669933 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
  .td2{border-right: #669933 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
  .td3{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
  .td4{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #cccc00 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
  .td5{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
  .td6{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
  .td7{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
  .td8{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
  .td9{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
  .td10{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
  .td11{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
  .td12{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
  .td13{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
  .td14{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #cccc00 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
  .td15{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
  .td16{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
  .td17{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
  .td18{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
  .td19{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
  .td20{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
  .td21{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
  .td22{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
  .td23{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}

  .tr0{height: 24px;}
  .tr1{height: 20px;}
  .tr2{height: 21px;}
  .tr3{height: 19px;}
  .tr4{height: 17px;}
  .tr5{height: 14px;}
  .tr6{height: 16px;}
  .tr7{height: 18px;}
  .tr8{height: 2px;}

  .t0{width: 32px;margin-top: 15px;font: 12px 'Trebuchet MS';}
}

.idItem4{
    body {margin-top: 0px;margin-left: 0px;}

    #page_1 {position:relative; overflow: hidden;margin: 76px 0px 275px 76px;padding: 0px;border: none;width: 32px;}

    .ft0{font: 16px 'Trebuchet MS';line-height: 22px;}
    .ft1{font: bold 16px 'Trebuchet MS';color: #ffffff;line-height: 22px;}
    .ft2{font: 1px 'Trebuchet MS';line-height: 1px;}
    .ft3{font: bold 12px 'Trebuchet MS';line-height: 18px;}
    .ft4{font: 12px 'Trebuchet MS';line-height: 17px;}
    .ft5{font: 12px 'Trebuchet MS';line-height: 18px;}
    .ft6{font: bold 12px 'Trebuchet MS';line-height: 17px;}
    .ft7{font: 1px 'Trebuchet MS';line-height: 14px;}
    .ft8{font: 12px 'Trebuchet MS';line-height: 14px;}
    .ft9{font: 1px 'Trebuchet MS';line-height: 13px;}
    .ft10{font: 12px 'Trebuchet MS';line-height: 13px;}
    .ft11{font: 1px 'Trebuchet MS';line-height: 16px;}
    .ft12{font: 11px 'Trebuchet MS';line-height: 16px;}
    .ft13{font: bold 11px 'Trebuchet MS';line-height: 16px;}

    .p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
    .p1{text-align: left;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p2{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p3{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p4{text-align: right;padding-right: 94px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

    .td0{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td1{border-right: #669933 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td2{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td3{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #cccc00 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td4{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td5{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td6{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td7{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td8{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td9{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td10{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td11{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td12{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td13{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #cccc00 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td14{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td15{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td16{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td17{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td18{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td19{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td20{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td21{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td22{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td23{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td24{padding: 0px;margin: 0px;width: 12px;vertical-align: bottom;background: #000000;}
    .td25{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td26{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td27{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}

    .tr0{height: 24px;}
    .tr1{height: 20px;}
    .tr2{height: 21px;}
    .tr3{height: 19px;}
    .tr4{height: 17px;}
    .tr5{height: 14px;}
    .tr6{height: 13px;}
    .tr7{height: 18px;}
    .tr8{height: 16px;}
    .tr9{height: 1px;}

    .t0{width: 32px;margin-top: 15px;font: 12px 'Trebuchet MS';}
}

.idItem5{
    body {margin-top: 0px;margin-left: 0px;}

    #page_1 {position:relative; overflow: hidden;margin: 76px 0px 330px 76px;padding: 0px;border: none;width: 32px;}

    .ft0{font: 16px 'Trebuchet MS';line-height: 22px;}
    .ft1{font: bold 16px 'Trebuchet MS';color: #ffffff;line-height: 22px;}
    .ft2{font: 1px 'Trebuchet MS';line-height: 1px;}
    .ft3{font: bold 12px 'Trebuchet MS';line-height: 18px;}
    .ft4{font: 12px 'Trebuchet MS';line-height: 17px;}
    .ft5{font: 12px 'Trebuchet MS';line-height: 18px;}
    .ft6{font: bold 12px 'Trebuchet MS';line-height: 17px;}
    .ft7{font: 1px 'Trebuchet MS';line-height: 14px;}
    .ft8{font: 12px 'Trebuchet MS';line-height: 14px;}
    .ft9{font: 1px 'Trebuchet MS';line-height: 16px;}
    .ft10{font: bold 12px 'Trebuchet MS';line-height: 16px;}
    .ft11{font: 12px 'Trebuchet MS';line-height: 16px;}
    .ft12{font: 1px 'Trebuchet MS';line-height: 2px;}

    .p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
    .p1{text-align: left;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p2{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p3{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p4{text-align: right;padding-right: 97px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p5{text-align: right;padding-right: 111px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

    .td0{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td1{border-right: #669933 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td2{border-right: #669933 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td3{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td4{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #cccc00 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td5{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td6{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td7{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td8{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td9{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td10{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td11{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td12{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td13{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #cccc00 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td14{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td15{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td16{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td17{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td18{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td19{padding: 0px;margin: 0px;width: 12px;vertical-align: bottom;}
    .td20{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td21{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td22{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td23{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td24{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td25{padding: 0px;margin: 0px;width: 12px;vertical-align: bottom;background: #000000;}
    .td26{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td27{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td28{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}

    .tr0{height: 24px;}
    .tr1{height: 20px;}
    .tr2{height: 21px;}
    .tr3{height: 19px;}
    .tr4{height: 17px;}
    .tr5{height: 14px;}
    .tr6{height: 16px;}
    .tr7{height: 18px;}
    .tr8{height: 2px;}

    .t0{width: 32px;margin-top: 15px;font: 12px 'Trebuchet MS';}

}

.idItem6{
    body {margin-top: 0px;margin-left: 0px;}
    #page_1 {position:relative; overflow: hidden;margin: 76px 0px 420px 76px;padding: 0px;border: none;width: 32px;}
    .ft0{font: 15px 'Trebuchet MS';line-height: 20px;}
    .ft1{font: bold 16px 'Trebuchet MS';color: #ffffff;line-height: 22px;}
    .ft2{font: 1px 'Trebuchet MS';line-height: 1px;}
    .ft3{font: bold 12px 'Trebuchet MS';line-height: 18px;}
    .ft4{font: 12px 'Trebuchet MS';line-height: 17px;}
    .ft5{font: 12px 'Trebuchet MS';line-height: 18px;}
    .ft6{font: bold 12px 'Trebuchet MS';line-height: 16px;}
    .ft7{font: 12px 'Trebuchet MS';line-height: 16px;}
    .ft8{font: 1px 'Trebuchet MS';line-height: 16px;}
    .ft9{font: bold 12px 'Trebuchet MS';line-height: 17px;}

    .p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
    .p1{text-align: left;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p2{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p3{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p4{text-align: right;padding-right: 49px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

    .td0{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td1{border-right: #669933 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td2{border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td3{border-right: #669933 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td4{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td5{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #cccc00 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td6{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td7{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td8{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td9{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td10{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td11{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td12{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td13{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td14{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #cccc00 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td15{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td16{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td17{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td18{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td19{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td20{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td21{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td22{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td23{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td24{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td25{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}

    .tr0{height: 24px;}
    .tr1{height: 19px;}
    .tr2{height: 20px;}
    .tr3{height: 21px;}
    .tr4{height: 16px;}
    .tr5{height: 17px;}
    .tr6{height: 18px;}
    .tr7{height: 1px;}

    .t0{width: 32px;margin-top: 11px;font: 9px 'Trebuchet MS';}
}

.idItem8{
    body {margin-top: 0px;margin-left: 0px;}

    #page_1 {position:relative; overflow: hidden;margin: 76px 0px 449px 76px;padding: 0px;border: none;width: 32px;}





    .ft0{font: 16px 'Trebuchet MS';line-height: 22px;}
    .ft1{font: bold 16px 'Trebuchet MS';color: #ffffff;line-height: 22px;}
    .ft2{font: 1px 'Trebuchet MS';line-height: 1px;}
    .ft3{font: bold 12px 'Trebuchet MS';line-height: 18px;}
    .ft4{font: 12px 'Trebuchet MS';line-height: 17px;}
    .ft5{font: 12px 'Trebuchet MS';line-height: 18px;}
    .ft6{font: 1px 'Trebuchet MS';line-height: 2px;}

    .p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
    .p1{text-align: left;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p2{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p3{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

    .td0{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td1{border-right: #669933 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td2{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td3{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #cccc00 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td4{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td5{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td6{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td7{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td8{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td9{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td10{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td11{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td12{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td13{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td14{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}

    .tr0{height: 24px;}
    .tr1{height: 20px;}
    .tr2{height: 21px;}
    .tr3{height: 19px;}
    .tr4{height: 2px;}

    .t0{width: 32px;margin-top: 15px;font: 12px 'Trebuchet MS';}
}

.idItem9{
    body {margin-top: 0px;margin-left: 0px;}

    #page_1 {position:relative; overflow: hidden;margin: 76px 0px 435px 76px;padding: 0px;border: none;width: 32px;}

    .ft0{font: 16px 'Trebuchet MS';line-height: 22px;}
    .ft1{font: bold 16px 'Trebuchet MS';color: #ffffff;line-height: 22px;}
    .ft2{font: 1px 'Trebuchet MS';line-height: 1px;}
    .ft3{font: bold 12px 'Trebuchet MS';line-height: 18px;}
    .ft4{font: 12px 'Trebuchet MS';line-height: 17px;}
    .ft5{font: 12px 'Trebuchet MS';line-height: 18px;}
    .ft6{font: bold 12px 'Trebuchet MS';line-height: 17px;}
    .ft7{font: 1px 'Trebuchet MS';line-height: 16px;}
    .ft8{font: 11px 'Trebuchet MS';line-height: 16px;}
    .ft9{font: 1px 'Trebuchet MS';line-height: 2px;}

    .p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
    .p1{text-align: left;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p2{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p3{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p4{text-align: right;padding-right: 111px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

    .td0{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td1{border-right: #669933 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td2{border-right: #669933 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td3{border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 2px;vertical-align: bottom;background: #669933;}
    .td4{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td5{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #cccc00 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td6{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td7{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td8{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 2px;vertical-align: bottom;}
    .td9{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td10{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td11{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td12{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #cccc00 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td13{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td14{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td15{padding: 0px;margin: 0px;width: 2px;vertical-align: bottom;}
    .td16{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td17{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td18{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td19{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td20{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td21{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td22{padding: 0px;margin: 0px;width: 2px;vertical-align: bottom;background: #000000;}
    .td23{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}

    .tr0{height: 24px;}
    .tr1{height: 20px;}
    .tr2{height: 21px;}
    .tr3{height: 19px;}
    .tr4{height: 17px;}
    .tr5{height: 16px;}
    .tr6{height: 2px;}

    .t0{width: 32px;margin-top: 15px;font: 12px 'Trebuchet MS';}
}

.idItem10{
    body {margin-top: 0px;margin-left: 0px;}

    #page_1 {position:relative; overflow: hidden;margin: 76px 0px 421px 76px;padding: 0px;border: none;width: 32px;}

    .ft0{font: 16px 'Trebuchet MS';line-height: 22px;}
    .ft1{font: bold 16px 'Trebuchet MS';color: #ffffff;line-height: 22px;}
    .ft2{font: bold 15px 'Trebuchet MS';color: #ffffff;line-height: 20px;}
    .ft3{font: 1px 'Trebuchet MS';line-height: 1px;}
    .ft4{font: bold 12px 'Trebuchet MS';line-height: 18px;}
    .ft5{font: 12px 'Trebuchet MS';line-height: 17px;}
    .ft6{font: 12px 'Trebuchet MS';line-height: 18px;}
    .ft7{font: bold 12px 'Trebuchet MS';line-height: 17px;}
    .ft8{font: 1px 'Trebuchet MS';line-height: 16px;}
    .ft9{font: bold 12px 'Trebuchet MS';line-height: 16px;}
    .ft10{font: 12px 'Trebuchet MS';line-height: 16px;}
    .ft11{font: 1px 'Trebuchet MS';line-height: 2px;}

    .p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
    .p1{text-align: left;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p2{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p3{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p4{text-align: right;padding-right: 100px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

    .td0{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td1{border-right: #669933 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td2{border-right: #669933 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td3{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td4{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #cccc00 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td5{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td6{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td7{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td8{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td9{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td10{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #cccc00 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td11{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td12{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td13{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td14{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td15{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td16{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td17{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td18{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td19{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td20{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}

    .tr0{height: 24px;}
    .tr1{height: 20px;}
    .tr2{height: 21px;}
    .tr3{height: 19px;}
    .tr4{height: 17px;}
    .tr5{height: 16px;}
    .tr6{height: 18px;}
    .tr7{height: 2px;}

    .t0{width: 32px;margin-top: 15px;font: 12px 'Trebuchet MS';}
}

.idItem11{
    body {margin-top: 0px;margin-left: 0px;}

    #page_1 {position:relative; overflow: hidden;margin: 76px 0px 153px 76px;padding: 0px;border: none;width: 32px;}

    .ft0{font: 16px 'Trebuchet MS';line-height: 22px;}
    .ft1{font: bold 16px 'Trebuchet MS';color: #ffffff;line-height: 22px;}
    .ft2{font: bold 15px 'Trebuchet MS';color: #ffffff;line-height: 20px;}
    .ft3{font: 1px 'Trebuchet MS';line-height: 1px;}
    .ft4{font: bold 12px 'Trebuchet MS';line-height: 18px;}
    .ft5{font: 12px 'Trebuchet MS';line-height: 17px;}
    .ft6{font: 12px 'Trebuchet MS';line-height: 18px;}
    .ft7{font: bold 12px 'Trebuchet MS';line-height: 17px;}
    .ft8{font: 1px 'Trebuchet MS';line-height: 14px;}
    .ft9{font: 12px 'Trebuchet MS';line-height: 14px;}
    .ft10{font: 1px 'Trebuchet MS';line-height: 13px;}
    .ft11{font: 12px 'Trebuchet MS';line-height: 13px;}
    .ft12{font: 1px 'Trebuchet MS';line-height: 16px;}
    .ft13{font: bold 12px 'Trebuchet MS';line-height: 16px;}
    .ft14{font: 11px 'Trebuchet MS';line-height: 16px;}
    .ft15{font: 11px 'Trebuchet MS';line-height: 13px;}
    .ft16{font: 11px 'Trebuchet MS';line-height: 14px;}
    .ft17{font: 1px 'Trebuchet MS';line-height: 15px;}
    .ft18{font: bold 12px 'Trebuchet MS';line-height: 14px;}

    .p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
    .p1{text-align: left;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p2{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p3{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
    .p4{text-align: right;padding-right: 94px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

    .td0{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td1{border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td2{border-right: #669933 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td3{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #669933 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #669933;}
    .td4{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #cccc00 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td5{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td6{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td7{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td8{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td9{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td10{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td11{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td12{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td13{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #cccc00 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #cccc00;}
    .td14{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td15{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td16{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 1px;vertical-align: bottom;}
    .td17{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td18{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td19{padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td20{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td21{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;}
    .td22{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 218px;vertical-align: bottom;background: #000000;}
    .td23{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td24{padding: 0px;margin: 0px;width: 1px;vertical-align: bottom;background: #000000;}
    .td25{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}
    .td26{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 32px;vertical-align: bottom;background: #000000;}

    .tr0{height: 24px;}
    .tr1{height: 20px;}
    .tr2{height: 21px;}
    .tr3{height: 19px;}
    .tr4{height: 17px;}
    .tr5{height: 14px;}
    .tr6{height: 13px;}
    .tr7{height: 18px;}
    .tr8{height: 16px;}
    .tr9{height: 15px;}
    .tr10{height: 1px;}

    .t0{width: 32px;margin-top: 15px;font: 12px 'Trebuchet MS';}
}