.fab-map {
  top: 214px;
  z-index: 50;
}

.ion-card-map {
  position: relative;

}

#detalleButtons{
    width: 100%;
    height: 80px;
}

.detalleButtonsCol{
  text-align: center;
}

#mapDetail {
  width: 334px;
  height: 248px;
}

