
<ion-navbar *navbar hideBackButton class="show-navbar android-attr primary-color">
  
      
      
  <!--<ion-title> <img src="img/logoescudoAyto-blanco.png" style="vertical-align:middle;"> Vélez-Málaga</ion-title>-->
  <ion-title>Playas Vélez-Málaga</ion-title>
</ion-navbar>



  <ion-content>
    <ion-list >

    <ion-row home *ngFor="let p of importancia1">
      <ion-col home>
        <ion-card  home class="advanced-background" (click)="openPage(p[0])">
          <img home-imp1 src="{{p[0].img}}"/>
          <p home class="advanced-background-title" *ngIf="p[0].mostrarType">{{p[0].title}}</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row home *ngFor="let p of importancia2">
      <ion-col home width-50>
        <ion-card  home class="advanced-background" (click)="openPage(p[0])">
          <img home src="{{p[0].img}}"/>
          <p home class="advanced-background-title" *ngIf="p[0].mostrarType">{{p[0].title}}</p>
        </ion-card>
      </ion-col>
      <ion-col home width-50>
        <ion-card  home class="advanced-background" (click)="openPage(p[1])">
          <img home src="{{p[1].img}}"/>
          <p home class="advanced-background-title" *ngIf="p[1].mostrarType">{{p[1].title}}</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let p of importancia3">
      <ion-col home width-33>
        <ion-card  home class="advanced-background" (click)="openPage(p[0])">
          <img home src="{{p[0].img}}"/>
          <p home class="advanced-background-title" *ngIf="p[0].mostrarType">{{p[0].title}}</p>
        </ion-card>
      </ion-col>
      <ion-col home width-33>
        <ion-card  home class="advanced-background" (click)="openPage(p[1])">
          <img home src="{{p[1].img}}"/>
          <p home class="advanced-background-title" *ngIf="p[1].mostrarType">{{p[1].title}}</p>
        </ion-card>
      </ion-col>
      <ion-col home width-33>
        <ion-card  home class="advanced-background" (click)="openPage(p[2])">
          <img home src="{{p[2].img}}"/>
          <p home class="advanced-background-title" *ngIf="p[2].mostrarType">{{p[2].title}}</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list>
    <ion-card  home class="advanced-background" (click)="openPage('Ajustes')">
      <ion-item>
        <ion-icon name="settings" item-left></ion-icon>
          {{ajustes}}
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
