
<ion-navbar *navbar hideBackButton class="show-navbar android-attr">
  <!--<button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>-->
  <ion-title>{{tit}}</ion-title>
  <ion-buttons end>
    <button royal (click)="openHome()">
      <ion-icon name="home"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content class="has-header" >
    
    
    <div *ngIf="idTypeItem == 1010">
      <!--{{idTypeItem}}-->
      <iframe id="iframe_aemet_id29094" name="iframe_aemet_id29094" src="http://www.aemet.es/es/eltiempo/prediccion/municipios/mostrarwidget/velez-malaga-id29094?w=g4p01110111ovmffffffw353z475x3333cct6666ffr1s8n2"  style="width:100%;" height=475 frameborder="0" scrolling="yes"></iframe>
      
    </div>

    <div padding *ngIf="idTypeItem != 1010  && idTypeItem != 1007">
      <ion-segment [(ngModel)]="tipo">
        <ion-segment-button value="Lista">
          {{lista}}
        </ion-segment-button>
        <ion-segment-button  (click)="showMap()" value="Mapa">
          {{mapa}}
        </ion-segment-button>
        
      </ion-segment>
    </div>

    <div id="switch" *ngIf="loadedEstados" [ngSwitch]="tipo">
      <ion-list *ngSwitchWhen="'Lista'">
        <ion-item *ngIf="idTypeItem == 1006">
          <ion-label>{{filtrar}}</ion-label>
          <ion-select [(ngModel)]="filter" (change)="filterList(filter)">
            <ion-option value="Todas">{{todas}}</ion-option>
            <ion-option value="Q">{{certificado_q}}</ion-option>
            <ion-option value="adaptadas">{{adaptadass}}</ion-option>
            <ion-option value="moragas">{{moragass}}</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="idTypeItem != 1006 && idTypeItem != 1015">
          <ion-card *ngFor="let item of items" (click)="itemTapped($event,item)">
            <ion-item >
              <ion-thumbnail item-left class="item-image">
                <img [src]="item['images'][0].image" class="item-image">
              </ion-thumbnail>
              <h2>{{item.title}}</h2>
              <p>{{item.dates[0] && item.dates[0].date*1000 | date: 'dd/MM/yyyy'}}</p>
              <p class="description"> {{item.description && item.description.substring(0,100) + "..."}}</p>
            </ion-item>
            </ion-card>
        </div>
        <div *ngIf="idTypeItem == 1006  && loadedEstados">
          <ion-card list *ngFor="let estado of estados" (click)="itemTapped($event,estado)">
            <img [src]="estado['backgroundImage']"><img>
            <img [src]="estado['bandera']" bandera-img>
            
          </ion-card>
        </div>
        <div *ngIf="idTypeItem == 1015  && loadedEstados">
          <ion-card list *ngFor="let estado of estados" (click)="itemTapped($event,estado)">
            <img [src]="estado['backgroundImage']"><img>
            <img [src]="estado['bandera']" bandera-img>
            
          </ion-card>
        </div>
    </ion-list>

    <div id="container-map" *ngSwitchWhen="'Mapa'">
      <div id="map" ></div>
      <button clear (click)="calculateAndDisplayRoute()">
        <ion-icon name='navigate'></ion-icon>
      {{ruta}}
      </button>
    </div>
    
  </div>



</ion-content>
