<ion-menu [content]="content">

  <ion-toolbar>
    <ion-title>Vélez-Málaga</ion-title>
  </ion-toolbar>

  <ion-content>

    <ion-list >
      <ion-row >
      <ion-col>
        <ion-item   menuClose ion-item (click)="openPage('Inicio')">
          {{inicio}}
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row >
    <ion-col>
      <ion-item   menuClose ion-item (click)="openPage('Tiempo')">
        {{tiempo}}
      </ion-item>
    </ion-col>
  </ion-row>
      <ion-row *ngFor="let p of importancia1">
      <ion-col>
        <ion-item   menuClose ion-item (click)="openPage(p[0])">
          {{p[0].title}}
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let p of importancia2">
    <ion-col width-50>
      <ion-item   menuClose ion-item (click)="openPage(p[0])">
        {{p[0].title}}
      </ion-item>
    </ion-col>
    <ion-col width-50>
      <ion-item   menuClose ion-item (click)="openPage(p[1])">
        {{p[1].title}}
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let p of importancia3">
  <ion-col width-33>
    <ion-item   menuClose ion-item (click)="openPage(p[0])">
      {{p[0].title}}
    </ion-item>
  </ion-col>
  <ion-col width-33>
    <ion-item   menuClose ion-item (click)="openPage(p[1])">
      {{p[1].title}}
    </ion-item>
  </ion-col>
  <ion-col width-33>
    <ion-item   menuClose ion-item (click)="openPage(p[2])">
      {{p[2].title}}
    </ion-item>
  </ion-col>
</ion-row>

    </ion-list>
    <ion-list>
      <button menuClose ion-item  (click)="openPage('Ajustes')">
        {{ajustes}}
      </button>
    </ion-list>


  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
