<ion-toolbar>
  <ion-title>
    Fecha
  </ion-title>
  <ion-buttons start>
    <button (click)="dismiss()">
      <span primary showWhen="ios">Cancelar</span>
      <ion-icon name="md-close" showWhen="ios,android,windows"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="calendar">
		<div class="calendar-header">
			<span class="btn btn-prev" (click)="prevMonth()">
				 <ion-icon name="arrow-dropleft"></ion-icon>
			</span>
			<span class="">{{current.monthName}}</span><!-- MONTH NAME -->
      <span> {{current.year}} </span>
			<span class="btn btn-next" (click)="nextMonth()">
				 <ion-icon name="arrow-dropright"></ion-icon>
			</span>
		</div>
		<table>
			<thead>
				<tr>
          <th *ngFor="let dn of dayNames">
            {{ dn }}
         </th>
				</tr>
			</thead>
			<tbody>
        <tr *ngFor="let w of weeks;">
					<td *ngFor="let d of w.days; let i = index;" [ngClass]="checkDate(d)" (click)="selectDate($event, d)" ><span [ngClass]="d.selected ? 'active':''">{{ d.day }}</span></td><!--d.isCurrentMonth ? 'actual-month':''-->
				</tr>
			</tbody>
		</table>
	</div>
</ion-content>
